*
{
    margin: 0;
    padding: 0;
    font-family: 'Spartan', sans-serif;
}

#parte_superior
{
    background: #0066D9;
    color: #fff;
    border-width: 1px;
    
}

#parte_superior
{
    text-align: center;
}


#parte_superior a
{
    margin: 5px;
}

#parte_superior a i
{
    
    width: 30px;
    height: 30px;
    color: #fff;
    font-size: 30px;
}

#parte_superior_derecha a i:hover
{
    color: #ABABAB;
}


/*-------------------Icono y menu----------------------------------------------*/

#menu
{
    
}

#menu #icono
{

}

#menu #icono img
{  
    width: 50px;
    height: 50px;  
}


#menu_dinamico
{
    float: right;
}

.select > li
{  
   
  
}

/*
.navegacion
{
    width: 1000px;
    margin: 30px auto;
    background: #fff;
}

.navegacion ul
{
    list-style: none;
}

.select
{
    display: flex;
    justify-content: space-between;
}

.select > li
{  
    margin:0;
    display:inline-block;
}

.select > li > a
{
    display:block;
    padding: 15px 20px;
    font-weight: bold;
    color: #000;
    text-decoration: none;
    
}

.select li a:hover
{
    color: #0066D9;
    transition:all .3s;
}
*/
/*-------------Banner--------------------------------------*/

header
{
    width: 95%;
    margin: 0 auto;
}

#titulo
{
    text-align: center;
}

.banner
{
    position: relative;
    width: 100%;
    height:calc(100vh - 50px);
    background-color:#F5F5F5;
    background-size: cover;
    background-position: center;
    transition: all .1s ease-in-out;
}

/*------------Datos Generales de mis departamentos--------*/

/*

#content-departamentos
{
    margin: auto;
    width: 500px;
    margin-top: 10px;
}

#content-departamentos .nav-dep
{
    list-style: none;
}


.nav-dep li a
{ 
    background-color:#0066D9;
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}


.nav-dep > li
{
    float: left;
}

.nav-dep li a:hover
{
    background-color:#59A7FF;
}

*/

/*-------------------Footer-------------------------------*/

.footer
{
    margin-top: 100px;
    width: 100%;
    text-align: center;
}

.footer p
{
    margin-top: 5px;
    margin-bottom: 0;
    font-weight: bold;
}

.footer a i
{  
    font-size: 30px;
    margin-left: 2px;
    color: #fff;
    
}








